body{
    background-image: url(./imagenes/fondo3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;   
}
#general{
    background-color: rgba(0, 0, 0, 0.603);
    font-family: 'Cardo', serif;
}
#logo-lol{
    width: 30px;
    height: 30px;
}
#imagen-inicio{
    image-orientation: center;
    width: 100%;    
}
.img-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    image-orientation: inherit;
}
.separador{
    border: 5px solid #937341;
    margin-bottom: 5%;
}
.separador-1{
    border: 5px solid #937341;
    margin-top: 5%;
    margin-bottom: 2%; 
}
.separador-2{
    border: 5px solid #937341;
    margin-top: 5%; 
}
.NOTICIAS{
    color: #937341;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.671);
    padding: 10px;
    border: 2px solid#937341; 
}

.texto-inicio{
    color: #f1e6d0;
    font-size: 23px;
    padding: 15px; 
    font-family: 'Lato', sans-serif;  
}

.universo-titulo{
    color: #937341;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 15px;
    border: 2px solid #937341;
    margin-bottom: 20px;  
}
iframe{
    width: 560px;
    height: 315px;
}
.links{
    text-decoration: none;
    color:#937341;
}
.links:hover{
    text-decoration-color: #937341;
    text-decoration-line: none;
    text-decoration:#937341
}
.img-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3%;
    padding-left: 46%;
}
.lista-footer   {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration-line: none;
    text-decoration: none;
    color: #f1e6d0;
    padding-bottom: 30px; 
    list-style: none;
}

.titulo-cards{
    text-align: center;
    padding: 3%;
    color: #ffe2b3;
    font-size: 30px;
    font-family: 'Cardo', serif;
}
.final-cards{
    padding-bottom: 5%;
}
.card{
 background-color: #0a0a0cbb;
 border: 2px solid #937341;
}
.texto-ancla{
    text-align: center;
}
#link-universo{
    font-size: 20px;
    border: 2px solid #937341;
    background: #f0b802af;
}
#link-universo:hover{
    transition: color 0.3s ease;
    background: #03030385;
}
.card-title{
    color: #f1e6d0;
   font-size: 25px; 
   text-align: center;
}
.card-sub-title{
    color: #f1e6d0;
    font-size: 20px;
    text-align: center;
}
.card-text p{
   color: #2f2f30;
   padding: 0%;
}
.card-body{
    color: #f1e6d0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #937341;
    text-align: center;
}
.card-img-top:hover{
    transition: opacity 0.3s ease;
    opacity: 0.9;
}
.card-body:hover .card-title{
    transition: color 0.3s ease;
    color: #937341;
    font-size: 25px;
}
