body{
    background-image: url(./imagenes/fondo3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    
}

#general{
    background-color: rgba(0, 0, 0, 0.603);
    font-family: 'Cardo', serif;
}
#imagen-inicio{
    image-orientation: center;
    width: 100%;
    
}
.separador{
    border: 5px solid #937341;
}
.cards{
    font-family: 'Cardo', serif;
    font-size: 20px;
    color: #937341;
}

.NOTICIAS{
    color: #937341;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.671);
    padding: 15px;
    border: 2px solid#937341; 
}

.texto-inicio{
    color: #f1e6d0;
    font-size: 23px;
    padding: 15px;   
}

.universo-titulo{
    color: #937341;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 15px;
    border: 2px solid #937341;  
}

.links{
    text-decoration: none;
    color:#937341;
}
.links:hover{
    text-decoration-color: #937341;
    text-decoration-line: none;
    text-decoration:#937341
}
.img-footer{
    padding: 5%;
    padding-left: 45%;
}
.lista-footer   {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-line: none;
    text-decoration: none;
    color: #f1e6d0;
    padding-bottom: 30px; 
    list-style: none;
}

.titulo-cards{
    text-align: center;
    padding: 3%;
    color: #937341;
    font-size: 35px;
    font-family: 'Cardo', serif;
}
.final-cards{
    padding-bottom: 5%;
}

#cards-total{
    color: #0a0a0c;
    font-size: 20px;
    font-family: 'Cardo', serif;
}

#card-body{
    background-color: #f1e6d0;
}
#link-universo{
    font-size: 20px;
    border: 2px solid #937341;
}
.card-title , {
   color: #0a0a0c; 
}
.card-sub-title{
    color: #212122;
}
.card-text p{
   color: #2f2f30;
   padding: 0%;
}
.card-body{
    color: inherit;
}
.card-img-top:hover{
    transition: opacity 0.3s ease;
    opacity: 0.9;
}
.card-body:hover .card-title{
    transition: color 0.3s ease;
    color: #b17008;
    font-size: 25px;
}
